{% extends "layout.njk" %}
{% block content %}
<link rel="stylesheet" href="../style.css">

<div class="edit">    
    <form action="/edit" method="post">
      <input type="text" name="message" id="message" value="{{tweet.message}}">
      <input type="hidden" name="id" id="id" value="{{tweet.id}}">
      <label for="message"></label>
      <button type="submit">Edit</button>
    </form>
  </div>
{% endblock %}