<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>{{title}}</title>
</head>
<body>
    <h1 class="header">
        <a class="logo" href="/">Qwitter</a>
        {% if (not loggedIn) %}
        <a class="signup accountButtons" href="/signup">Signup</a>
        <a class="login accountButtons" href="/login">Login</a>
        {%endif%}
        {% if (loggedIn) %}
        <a class="logout accountButtons" href="/logout">Logout</a>
        {%endif%}
    </h1>

    {%block content%}{%endblock%}
</body>
</html>