{% extends "layout.njk" %}
{% block content %}

<div class="post">
  <form action="/login" method="POST">
    <label for="post"></label>
    <div class="loginGrid">
      <h1>Login</h1>
      <p>Username:</p>
      {%if (error)%}
      <input type="text" name="username" id="username" placeholder="" required maxlength="32" class="error">
      {%else%}
      <input type="text" name="username" id="username" placeholder="" required maxlength="32">
      {%endif%}
      <p>Password:</p>
      <input type="password" name="password" id="password" placeholder="" required maxlength="130">
      <button type="Login" id="login">Login</button>
    </div>
  </form>
</div>

<script>

</script>
{% endblock %}