{% extends "layout.njk" %}
{% block content %}
<link rel="stylesheet" href="../style.css">
<div class="post">
  <h1>{{header}}</h1>
  <form action="/post" method="POST">
    <label for="post"></label>
    <textarea type="text" name="post" id="post" required maxlength="130" cols="50" wrap="soft">{{tweet.message}}</textarea>
    <!--input type="text" name="post" id="post" placeholder="Post..." required maxlength="130"-->
    <button type="submit">{{action}}</button>
  </form>
</div>

<script>
  const textarea = document.getElementById("post");
  
  textarea.addEventListener("input", () => {
    console.log(textarea.style.height)
    textarea.style.height = "auto"
    textarea.style.height = (textarea.scrollHeight) + "px";
  });
</script>
{% endblock %}