:root {
    --background-color: #202030;
    --border-color: #404060;
    --hover-color: #303040;
    --tweet-hover-color: #282838;
    --text-color: #8080a0;
    --white-text-color: #fff;
    --button-color: #2080ff;
    --button-color-hover: #40a0ff;
    --overlay-color: #404060;
    --overlay-hover-color: #606080;
    --overlay-border-color: #8080a0;
}

body {
    margin: 0;
    color: var(--white-text-color);
    font-family: sans-serif;
    background-color: var(--background-color);
}

main {
    margin-inline: auto;
}

.header {
    z-index: 20;
    display: grid;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5rem;
    margin: 0;
    align-items: center;
    justify-items: center;
    background-color: inherit;
    border-bottom: 1px var(--border-color) solid;
    grid-template-columns: auto 1fr auto auto;

    a {
        text-decoration: none;
    }

    .logo {
        margin-left: 2.5rem;
        grid-column: 1 / 2;
        color: var(--white-text-color);
    }

    .signup {
        margin-left: 1rem;
        margin-right: 2rem;
        outline: 1px var(--button-color) solid;
        color: var(--button-color);
        background-color: inherit;
        grid-column: 4 / 5;
        transition: all .25s;
    }

    .login {
        margin-inline: 1rem;
        color: var(--white-text-color);
        background-color: var(--button-color);
        grid-area: 1/ 3 / 1 / 4;
        transition: all .25s;
    }

    .logout {
        margin-right: 2rem;
        color: var(--white-text-color);
        background-color: var(--button-color);
        grid-column: 4 / 5;
        transition: all .25s;
    }

    .accountButtons {
        border-radius: 15px;
        padding: 1rem;
        font-size: 1rem;
        transition: all .25s;
    }

    .signup:hover {
        background-color: var(--hover-color);
        outline: 1px var(--button-color-hover) solid;
        color: var(--button-color-hover);
    }

    .login:hover,
    .logout:hover {
        background-color: var(--button-color-hover);
    }
}

.tweet {
    display: grid;
    padding: 0;
    margin: 0;
    margin-top: 5rem;
    grid-template-columns: 1fr 625px 1fr;
    grid-template-rows: 1fr;

    .indTweet {
        border: 1px solid var(--border-color);
        padding-inline: 3rem;
        list-style: none;

        button {
            display: none;
        }
    }

    article {
        grid-column: 2/3;
    }

    .postLinkContainer {
        display: flex;
        position: fixed;
        width: 50px;
        height: 50px;
        top: 82vh;
        left: calc(20vh * (9/16));
        justify-content: center;
        align-items: center;

        .postLink {
            text-decoration: none;
            background-color: var(--button-color);
            padding: 25px;
            border-radius: 100%;
            grid-template-columns: 50px;
            grid-template-rows: 50px;
            display: grid;
            transition: all .25s;

            .postLinkText {
                color: var(--white-text-color);
                font-size: 5rem;
                justify-self: center;
                align-self: center;
            }
        }

        .postLink:hover {
            background-color: var(--button-color-hover);
        }
    }

    .indTweet:hover {
        background-color: var(--tweet-hover-color);
    }

    .interact {
        padding-inline: 0;
        margin-inline: 0;
        display: flex;
        justify-content: space-evenly;
        margin-block: .4rem;

        a {
            text-decoration: none;
            color: var(--text-color);
        }

        li {
            color: var(--text-color);
            padding: 0;
            border: 0;
            display: inline-block;
            border-radius: 5px;
            transition: all .25s;
        }

        li:hover {
            background-color: var(--hover-color);
        }

        .interactItem {
            fill: var(--text-color);
            width: 16px;
            height: 16px;
            padding: .3rem;
        }
    }

    .message {
        font-size: 1rem;
        justify-content: space-between;
        padding-inline: 0;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    ul {
        margin-top: 0;
        padding-inline: 0;
        gap: 1rem;
    }

    time {
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 100;
    }

    h2 {
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        justify-self: left;
    }

    .topGrid {
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-template-rows: 2rem;
        align-items: center;
        width: calc(100% + 3rem);

        .popup {
            display: none;
            position: relative;
            grid-area: 1 / 2 / 2 / 3;
            width: 100px;
            height: 0;
            align-self: start;
            z-index: 2;
            justify-self: right;
            grid-template-columns: auto;

            ul {
                background-color: var(--overlay-color);
                border-radius: 10px;
            }

            li {
                background-color: var(--overlay-color);
                width: 100px;
                border: none;
                list-style: none;
                border-radius: 10px;

                a {
                    display: grid;
                    align-items: center;
                    grid-template-columns: auto 1fr;
                    text-decoration: none;
                    color: var(--white-text-color);

                    .interactItem {
                        fill: var(--white-text-color);
                        width: 16px;
                        height: 16px;
                        padding: .5rem;
                    }

                    .interactText {
                        justify-self: left;
                    }
                }
            }

            li:hover {
                background-color: var(--overlay-hover-color);
            }
        }

        .more {
            grid-area: 1 / 2 / 2 / 3;
            z-index: 0;
            fill: var(--text-color);
            margin-right: .4rem;
            justify-self: right;
            border-radius: 100%;
            width: 1.5rem;
            height: 1.5rem;
            transition: all .25s;
        }

        .more:hover {
            background-color: var(--hover-color);
            cursor: pointer;
        }
    }
}

.post {
    margin-top: 7rem;
    width: 500px;
    margin-inline: auto;

    #post,
    #message {
        font-family: sans-serif;
        font-size: 1rem;
        border-radius: 15px;
        border: 1px solid var(--border-color);
        width: calc(500px - 3rem);
        overflow-y: hidden;
        height: 53px;
        padding: 0.5rem;
        background-color: var(--background-color);
        color: var(--white-text-color);
    }

    h1 {
        font-size: 2rem;
        margin-bottom: .5rem;
    }

    button {
        border-radius: 25px;
        border: 0;
        padding: 0.5rem;
        padding-inline: 1rem;
        margin-top: .25rem;
        font-size: 1rem;
        color: var(--white-text-color);
        background-color: var(--button-color);
        transition: all 0.25s;
    }

    button:hover {
        background-color: var(--button-color-hover);
    }
}

form {
    .post {
        display: grid;
        align-items: center;
        height: 100vh;
    }

    .signupGrid {
        grid-template-rows: auto 2rem 5.5rem 2rem 5.5rem 2rem 5.5rem 2rem 7.5rem;
    }

    .loginGrid {
        grid-template-rows: auto 2rem 5.5rem 2rem 5.5rem 2rem 7.5rem;
    }

    .signupGrid,
    .loginGrid {
        border-radius: 10px;
        margin-inline: auto;
        width: 500px;
        display: grid;
        background-color: var(--overlay-color);
    }

    h1 {
        text-align: center;
        margin-bottom: 0;
    }

    p,
    .incorrectMessage {
        font-weight: bold;
        margin-left: 1rem;
    }

    .incorrectMessage {
        margin-top: .5rem;
        color: #ff6666;
    }

    #username,
    #password,
    #confirm {
        color: var(--white-text-color);
        border: 1px solid var(--overlay-border-color);
        display: grid;
        background-color: inherit;
        margin-inline: auto;
        margin-top: 1rem;
        font-size: 1.5rem;
        width: calc(500px - 4rem);
        padding: 1rem;
        border-radius: 10px;
        transition: all 0.25s ease;
    }

    .error {
        border: #ff6666 solid 2px !important;
    }

    #username:hover,
    #password:hover,
    #confirm:hover {
        background-color: var(--overlay-hover-color);
    }

    #login {
        border-radius: 10px;
        color: var(--white-text-color);
        font-weight: bold;
        font-size: 1.5rem;
        background-color: var(--button-color);
        width: 100%;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.25s ease;
    }

    #login:hover {
        background-color: var(--button-color-hover);
    }
}

@media (max-width: 1100px) {

    .postLinkContainer,
    .postLink,
    .postLinkText {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .tweet {
        grid-template-columns: 0 100% 0;
    }

    .post {
        margin-inline: auto;
        width: calc(100% - 2rem);

        #post {
            max-width: calc(100% - 16px);
        }
    }

    form {
        width: 100%;

        .signupGrid,
        .loginGrid {
            width: 100%;
        }

        #username,
        #password,
        #confirm {
            width: calc(100% - 4rem);
        }

    }
}